# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/buildscheduler

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.eslintcache
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/track_sheduler.iml
/.idea/vcs.xml
/.idea/workspace.xml
debug.log
package-lock.json
yarn.lock
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/robots.txt
build/static/css/main.e32ac21b.chunk.css
build/static/css/main.e32ac21b.chunk.css.map
build/static/js/2.043f4b71.chunk.js
build/static/js/2.043f4b71.chunk.js.LICENSE.txt
build/static/js/2.043f4b71.chunk.js.map
build/static/js/3.ea3d7cc2.chunk.js
build/static/js/3.ea3d7cc2.chunk.js.map
build/static/js/main.36db4c0a.chunk.js
build/static/js/main.36db4c0a.chunk.js.map
build/static/js/runtime-main.48dd0920.js
build/static/js/runtime-main.48dd0920.js.map
/build/static/js/2.f6ac0535.chunk.js
/build/
